@charset "utf-8";


viewport{width: device-width;}
@-webkit-viewport{width: device-width;}
@-moz-viewport{width: device-width;}
@-ms-viewport{width: device-width;}
@-o-viewport{width: device-width;}


*{ margin:0; 
   padding:0;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialised;
   -ms-font-smoothing: antialised;
   -0-font-smoothing: antialised;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border:box;
   -o-box-sizing: border-box;  
   }
 
body{
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
   font-smoothing: subpixel-antialiased;
   -webkit-font-smoothing: subpixel-antialiased;
   -moz-font-smoothing: subpixel-antialiased;
   -ms-font-smoothing: subpixel-antialiased;
   -o-font-smoothing: subpixel-antialiased;
    font-smoothing: antialiased;
    text-rendering:optimizeLegibility; 
    -webkit-text-rendering:optimizeLegibility;
   -moz-text-rendering:optimizeLegibility;
   -ms-text-rendering:optimizeLegibility;
   -o-text-rendering:optimizeLegibility;
   -moz-osx-font-smoothing:grayscale;}

body{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/latohairline/lato-hairline-webfont.eot');
    src: url('../fonts/latohairline/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/latohairline/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/latohairline/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/latohairline/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/latohairline/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensansregular/opensans-regular-webfont.eot');
    src: url('../fonts/opensansregular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansregular/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensansregular/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensansregular/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensansregular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensanssemibold/opensans-semibold-webfont.eot');
    src: url('../fonts/opensanssemibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanssemibold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensanssemibold/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensanssemibold/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensanssemibold/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/* @font-face{ 
	 font-family: latohairline;
	 src:url(../fonts/Lato-Hairline.ttf);}
	 
@-webkit-font-face{
	 font-family: latohairline;
	 src:url(../fonts/Lato-Hairline.ttf);}
	 
@-moz-font-face{
	 font-family: latohairline;
	 src:url(../fonts/Lato-Hairline.ttf);}
	 
@-ms-font-face{
	 font-family: latohairline;
	src:url(../fonts/Lato-Hairline.ttf);}
	 
@-o-font-face{
	 font-family: latohairline;
	 src:url(../fonts/Lato-Hairline.ttf);} */

/*@font-face{
	 font-family: opensasregular;
	 src:url(../fonts/OpenSans-Regular.ttf);}	 
	 
@-webkit-font-face{
	 font-family: opensasregular;
	 src:url(../fonts/OpenSans-Regular.ttf);}
	 	 
@-moz-font-face{
	 font-family: opensasregular;
	 src:url(../fonts/OpenSans-Regular.ttf);}
	 
@-ms-font-face{
	 font-family: opensasregular;
	 src:url(../fonts/OpenSans-Regular.ttf);}
	 
@-o-font-face{
	 font-family: opensasregular;
	 src:url(../fonts/OpenSans-Regular.ttf);}*/
	 
/*@font-face{
	 font-family: opensassemibold;
	 src:url(../fonts/OpenSans-Semibold.ttf);} 
	 
@-webkit-font-face{
	 font-family: opensassemibold;
	 src:url(../fonts/OpenSans-Semibold.ttf);} 
	 	 
@-moz-font-face{
	 font-family: opensassemibold;
	 src:url(../fonts/OpenSans-Semibold.ttf);} 
	 
@-ms-font-face{
	 font-family: opensassemibold;
	 src:url(../fonts/OpenSans-Semibold.ttf);} 
	 
@-o-font-face{
	font-family: opensassemibold;
	 src:url(../fonts/OpenSans-Semibold.ttf);}*/ 	 
	 	 
.clr{clear:both;}

.container {
	width:100%;
	margin: 0 auto;}
	
.container .columns{
	float:left;}
	
.container .columns.one {width: 6.25%;}
.container .columns.two {width: 12.5%;}
.container .columns.three {width: 18.75%;}
.container .columns.four {width: 25%;}
.container .columns.five {width: 31.25%;}
.container .columns.six {width: 37.5%;}
.container .columns.seven {width: 43.75%;}
.container .columns.eight {width: 50%;}
.container .columns.nine {width: 56.25%;}
.container .columns.ten {width: 62.5%;}
.container .columns.eleven {width: 68.75%;}
.container .columns.twelve {width: 75%;}
.container .columns.thirteen {width: 81.25%;}
.container .columns.fourteen {width: 87.5%;}
.container .columns.fifteen {width: 93.75%;}
.container .columns.sixteen {width: 100%;}

.one-offset-left{margin-left:6.25%;}
.two-offset-left{margin-left:12.5%;}
.three-offset-left{margin-left:18.75%;}
.four-offset-left{margin-left:25%;}
.five-offset-left{margin-left:31.25%;}
.six-offset-left{margin-left:37.5%;}
.seven-offset-left{margin-left:43.75%;}
.eight-offset-left{margin-left:50%;}
.nine-offset-left{margin-left:56.25%;}
.ten-offset-left{margin-left:62.5%;}
.eleven-offset-left{margin-left:68.75%;}
.twelve-offset-left{margin-left:75%;}
.thirteen-offset-left{margin-left:81.25%;}
.fourteen-offset-left{margin-left:87.5%;}
.fifteen-offset-left{margin-left:93.75%;}
.sixteen-offset-left{margin-left:100%;}

.one-offset-right{margin-right:6.25%;}
.two-offset-right{margin-right:12.5%;}
.three-offset-right{margin-right:18.75%;}
.four-offset-right{margin-right:25%;}
.five-offset-right{margin-right:31.25%;}
.six-offset-right{margin-right:37.5%;}
.seven-offset-right{margin-right:43.75%;}
.eight-offset-right{margin-right:50%;}
.nine-offset-right{margin-right:56.25%;}
.ten-offset-right{margin-right:62.5%;}
.eleven-offset-right{margin-right:68.75%;}
.twelve-offset-right{margin-right:75%;}
.thirteen-offset-right{margin-right:81.25%;}
.fourteen-offset-right{margin-right:87.5%;}
.fifteen-offset-right{margin-right:93.75%;}
.sixteen-offset-right{margin-right:100%;}

.container:after{
content:'';
display:block;
overflow: hidden;
visibility: hidden;
width:0;
height:0;
clear:both;}

.container{zoom:1;}

.clr{clear:both;}

a{text-decoration:none;color:inherit;}

ul li{
	display:inline;
	list-style:none;}
	

.backgrgheader{
	background-color:#F38630;
	box-shadow: 0.125em 0.04em 0.9375em #000; 
	-webkit-box-shadow: 0.125em 0.04em 0.9375em #000; 
	-moz-box-shadow: 0.125em 0.04em 0.9375em #999; 
	-ms-box-shadow: 0.125em 0.04em 0.9375em #999; 
	-o-box-shadow: 0.125em 0.04em 0.9375em #999; }

.logotextcomp{
	padding-left:0.5%;}	
	
.logotxt{
	color:#FFF;
	padding:4px 8px 4px 15px;
	font-size:2.3em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
-ms-text-shadow: 1px 1px 1px #000;
-o-text-shadow: 1px 1px 1px #000;}

.logoimg{
	width:2.8%;
	-webkit-width:2.8%;
	-ms-width:2.8%;
	-o-width:2.8%;
	-moz-width:2.8%;
	height:2.8%;
	-webkit-height:2.8%;
    -moz-height:2.8%;
	-ms-height:2.8%;
	-o-height:2.8%;}

.logotxtb{
	 font-family: 'latohairline';}
	 
.introtext1{padding-top:10%;}

.introtextcontainer{
	margin-top:3%;
	margin-bottom:3%;}

	
.thanksinsidemsg{
	color:#004c00;
	font-size:20px;
	font-family: open_sansregular;
}

.innermsg{
	color:#004c00;
	font-size:15px;  
	font-family: open_sansregular;
}

.containerform1{
padding-top:12%;
padding-bottom:15%;
margin-top:2%;
color:black;
margin-bottom:7%;
text-align:center;
font-weight:bold;
border:1px soild #F38630;
box-shadow: 0.125em 0.01em 0.9375em #999; 
-webkit-box-shadow: 0.125em 0.01em 0.9375em #999; 
-moz-box-shadow: 0.125em 0.01em 0.9375em #999; 
-ms-box-shadow: 0.125em 0.01em 0.9375em #999; 
-o-box-shadow: 0.125em 0.01em 0.9375em #999; 
}
	






